asgiref==3.2.10
click==7.1.2
Django==3.1.1
django-filter==2.3.0
djangorestframework==3.11.1
Flask==1.1.2
Flask-Classful==0.14.2
future==0.18.2
itsdangerous==1.1.0
Jinja2==2.11.2
Markdown==3.2.2
MarkupSafe==1.1.1
numpy==1.19.2
Pillow==7.2.0
pytz==2020.1
sqlparse==0.3.1
torch==1.6.0+cpu
torchvision==0.7.0+cpu
Werkzeug==1.0.1
